.main {
	margin: 4rem;
	background-color: var(--white-color);
	border-radius: 0.8rem;
	padding: 3.5rem;
}

.main__self-introduce {
	margin-bottom: 2.5rem;
}
.self-introduce__title {
	font-size: var(--subtitle-font);
	font-weight: var(--subtitle-bold);
	margin-bottom: 1rem;
}
.list__content {
	padding: 0.2rem 0;
}
.content__title {
	font-weight: var(--semi-bold);
}

.main__current-playlist {
	margin-bottom: 2.5rem;
}
.current-playlist__title {
	font-size: var(--subtitle-font);
	font-weight: var(--subtitle-bold);
	margin-bottom: 1rem;
}
.table__head {
	font-weight: var(--semi-bold);
	border-bottom: 2px solid var(--blue-100-color);
}
.table__data {
	text-align: center;
	vertical-align: middle;
}
.table__data.order {
	width: 4rem;
}
.table__data.album-cover {
	padding: 1rem;
}
.album-cover__img {
	width: 15rem;
}
.table__data.song-name,
.table__data.artist {
	width: 15rem;
}
.table__data.song-name a {
	color: var(--blue-900-color);
	text-decoration: none;
}
.table__data.lyrics-composition {
	width: 50rem;
}

.guest-book__title {
	font-size: var(--subtitle-font);
	font-weight: var(--subtitle-bold);
	margin-bottom: 1rem;
}
.form__name {
	margin-bottom: 0.8rem;
}
.name__label {
	font-weight: var(--semi-bold);
}
.name__input {
	width: 20rem;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid var(--blue-900-color);
	color: var(--gray-color);
	padding: 0.5rem;
}
.name__input:focus {
	outline: none;
}
.song__title {
	font-weight: var(--semi-bold);
	margin: 1rem 0;
}
.song__input-group {
	margin: 0.7rem 0;
}
.form__button-group {
	margin: 1.8rem 0;
}
.button-group__button {
	background-color: var(--blue-100-color);
	border: none;
	border-radius: 0.4rem;
	padding: 0.4rem 0.8rem;
	margin-right: 1rem;
	cursor: pointer;
}
.button-group__button:active,
.button-group__button:hover {
	background-color: var(--blue-900-color);
	color: var(--white-color);
}
