@import url(./main.css);

:root {
	--black-color: #09090b;
	--blue-100-color: #dbeafe;
	--blue-50-color: #eff6ff;
	--blue-300-color: #93c5fd;
	--sky-blue-color: #f0f9ff;

	--title-bold: 800;
	--subtitle-bold: 700;
	--semi-bold: 500;
	--default-bold: 400;

	--title-font: 2.4rem;
	--subtitle-font: 2rem;
	--default-font: 1.6rem;
}
html {
	font-size: 62.5%;
}

body {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	font: var(--default-bold) var(--default-font) / 1.25 'Gowun Dodum', sans-serif;
	color: var(--black-color);
	background-color: var(--blue-50-color);
}
